name: Build, Test, and Publish .NET

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test-results.trx" --results-directory ./TestResults

      - name: Publish EC.CLI (win-x86)
        run: dotnet publish EC.CLI/EC.CLI.csproj --configuration Release --output ./publish/EC.CLI/win-x86 --self-contained true -r win-x86

      - name: Publish EC.CLI (win-x64)
        run: dotnet publish EC.CLI/EC.CLI.csproj --configuration Release --output ./publish/EC.CLI/win-x64 --self-contained true -r win-x64

      - name: Upload Published Artifacts (win-x86)
        uses: actions/upload-artifact@v4
        with:
          name: published-artifacts-win-x86
          path: ./publish/**/win-x86/
          retention-days: 7

      - name: Upload Published Artifacts (win-x64)
        uses: actions/upload-artifact@v4
        with:
          name: published-artifacts-win-x64
          path: ./publish/**/win-x64/
          retention-days: 7

